*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* -- ---------------------------------------------NAVIGATION------------------------------------------- -- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .title{
    font-size: 20px;
    font-weight: 800;
    margin: 10px 10px 10px 50px;
}
nav .menu{
    margin-left: 10px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px;
}
nav ul li a:hover{
    color: #fff;
    background-color: #000;
    border-radius: 20px;
}
nav .right, .login{
    display: flex;
}
nav .right{
    margin-right: 20px;
    margin: 10px 50px 10px 10px;
}
nav .login{
    margin-right: 20px;
}
nav .login p{
    padding: 5px;
}
nav .right img{
    width: 1.5rem;
}
/* -- ---------------------------------------------HEAD------------------------------------------- -- */
.head{
    display: flex;
    background-color: #eff8ff;
    margin-left: 50px;
    margin-right: 50px;
}
.head-left{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.head-left .heading{
    font-size: 45px;
    margin: 60px 80px 10px 40px;
    padding: 40px 80px 20px 20px;
}
.head-left .head-desc{
    font-size: 14px;
    margin: 10px 10px 10px 40px;
    padding: 0px 30px 20px 20px;
}
.head .buttons{
    display: flex;
    flex-direction: row;
    margin: 0px 10px 10px 40px;
    padding: 0px 100px 20px 20px;
}
.head .buttons #contact{
    background-color: #ff9e7a;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 0px 10px 0px 0px;
}
.head .buttons #about{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 0px 10px 0px 0px;
}
.head-right{
    width: 50vw;
}
.head-right img{
    width: 30rem;
    margin-bottom: -50px;
}
/* -- ---------------------------------------------PRODUCTS------------------------------------------- -- */
.products{
    margin: 50px 110px 30px 110px;
}
.product-head{
    font-size: 2rem;
}
.product-items{
    display: flex;
    flex-wrap: wrap;
}
.item{
    background-color: #edebec;
    margin: 20px;
}
.item-detail{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.link{
    margin-top: 20px;
}
.link a{
    text-decoration: none;
    color: #86cff9;
}
#item-1, #item-2, #item-3, #item-4, #item-5, #item-6{
    width: 21em;
}
#item-2{
    padding: 4.6em 0em;
}
#item-3{
    padding: 2.3em 0em;
}
/* -- ---------------------------------------------ABOUT US------------------------------------------- -- */
.about{
    display: flex;
    background-color: #eff8ff;
    margin-left: 50px;
    margin-right: 50px;
}
.about-img img{
    width: 30rem;
    margin: 20px 20px 0px 50px;
}
.about-title{
    font-size: 2rem;   
    margin: 80px 20px 20px 50px;
}
.about-lorem{
    margin: 20px 20px 20px 50px;
}
#read-more{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 10px 20px 20px 50px;
}
/* -- ---------------------------------------------BLOG------------------------------------------- -- */
.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
}
.blog-heading{
    font-size: 2rem;   
    margin: 40px 20px 20px 50px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .blog-section{
    border: 1px solid red;
} */
.blog-title{
    font-size: 18px;
    font-weight: bold;
}
#img-1, #img-2, #img-3{
    width: 23rem;
    margin: 0px 10px 0px 10px;
}
.extra-text{
    margin: 0px 10px 0px 10px;
}
.blog-btn{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 30px 20px 20px 10px;
}
/* -- ---------------------------------------------TESTIMONIAL------------------------------------------- -- */
.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review{
    display: flex;
    margin: 20px 200px;
    /* border: 1px solid red; */
    box-shadow: 0.1px 0.1px 10px #878787, -0.1px -0.1px 10px #878787;
}
.i-comma{
    font-size: 5rem;   
    padding: 20px 10px 10px 20px;
}
.test-name{
    color: #86cff9;
    font-size: 20px;
    margin: -60px 20px 10px 20px;
}
.test-right .lorem{
    margin: -10px 20px 10px 20px;

}
.test-title{
    font-size: 2rem;   
    margin: 40px 20px 20px 50px;
}
.test-img img{
    width: 10rem;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
}
.arrows img{
    width: 3em;
}