*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* -- ---------------------------------------------NAVIGATION------------------------------------------- -- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .title{
    font-size: 20px;
    font-weight: 800;
    margin: 10px 10px 10px 50px;
}
nav .menu{
    margin-left: 10px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px;
}
nav ul li a:hover{
    color: #fff;
    background-color: #000;
    border-radius: 20px;
}
nav .right, .login{
    display: flex;
}
nav .right{
    margin-right: 20px;
    margin: 10px 50px 10px 10px;
}
nav .login{
    margin-right: 20px;
}
nav .login p{
    padding: 5px;
}
nav .right img{
    width: 1.5rem;
}
/* -- ---------------------------------------------HEAD------------------------------------------- -- */
.head{
    display: flex;
    background-color: #eff8ff;
    margin-left: 50px;
    margin-right: 50px;
}
.head-left{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.head-left .heading{
    font-size: 45px;
    margin: 60px 80px 10px 40px;
    padding: 40px 80px 20px 20px;
}
.head-left .head-desc{
    font-size: 14px;
    margin: 10px 10px 10px 40px;
    padding: 0px 30px 20px 20px;
}
.head .buttons{
    display: flex;
    flex-direction: row;
    margin: 0px 10px 10px 40px;
    padding: 0px 100px 20px 20px;
}
.head .buttons #contact{
    background-color: #ff9e7a;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 0px 10px 0px 0px;
}
.head .buttons #about{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 0px 10px 0px 0px;
}
.head-right{
    width: 50vw;
}
.head-right img{
    width: 30rem;
    margin-bottom: -50px;
}
/* -- ---------------------------------------------PRODUCTS------------------------------------------- -- */
.products{
    margin: 50px 110px 30px 110px;
}
.product-head{
    font-size: 2rem;
}
.product-items{
    display: flex;
    flex-wrap: wrap;
}
.item{
    background-color: #edebec;
    margin: 20px;
}
.item-detail{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.link{
    margin-top: 20px;
}
.link a{
    text-decoration: none;
    color: #86cff9;
}
#item-1, #item-2, #item-3, #item-4, #item-5, #item-6{
    width: 21em;
}
#item-2{
    padding: 4.6em 0em;
}
#item-3{
    padding: 2.3em 0em;
}
/* -- ---------------------------------------------ABOUT US------------------------------------------- -- */
.about{
    display: flex;
    background-color: #eff8ff;
    margin-left: 50px;
    margin-right: 50px;
}
.about-img img{
    width: 30rem;
    margin: 20px 20px 0px 50px;
}
.about-title{
    font-size: 2rem;   
    margin: 80px 20px 20px 50px;
}
.about-lorem{
    margin: 20px 20px 20px 50px;
}
#read-more{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 10px 20px 20px 50px;
}
/* -- ---------------------------------------------BLOG------------------------------------------- -- */
.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
}
.blog-heading{
    font-size: 2rem;   
    margin: 40px 20px 20px 50px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .blog-section{
    border: 1px solid red;
} */
.blog-title{
    font-size: 18px;
    font-weight: bold;
}
#img-1, #img-2, #img-3{
    width: 23rem;
    margin: 0px 10px 0px 10px;
}
.extra-text{
    margin: 0px 10px 0px 10px;
}
.blog-btn{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;
    padding: 10px 20px;
    margin: 30px 20px 20px 10px;
}
/* -- ---------------------------------------------TESTIMONIAL------------------------------------------- -- */
.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review{
    display: flex;
    margin: 20px 200px;
    /* border: 1px solid red; */
    box-shadow: 0.1px 0.1px 10px #878787, -0.1px -0.1px 10px #878787;
}
.i-comma{
    font-size: 5rem;   
    padding: 20px 10px 10px 20px;
}
.test-name{
    color: #86cff9;
    font-size: 20px;
    margin: -60px 20px 10px 20px;
}
.test-right .lorem{
    margin: -10px 20px 10px 20px;
    
}
.test-title{
    font-size: 2rem;   
    margin: 40px 20px 20px 50px;
}
.test-img img{
    width: 10rem;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
}
.arrows img{
    width: 3em;
}
/* -- ---------------------------------------------CONTACT------------------------------------------- -- */
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff8ff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}
.contact-left{
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 3rem 2rem -15rem;
}
.contact-left p{
    font-size: 28px;
    margin: 0.5rem;
}
#fname{
    width: 30rem;
    border: none;
    padding: 0.75rem;
    margin: 0.75rem;
}
#phone{
    width: 30rem;
    border: none;
    padding: 0.75rem;
    margin: 0.75rem;
}
#email{
    width: 30rem;
    border: none;
    padding: 0.75rem;
    margin: 0.75rem;
}
#message{
    width: 30rem;
    border: none;
    margin: 0.75rem;
}
.contact-left button{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;    
    padding: 0.5rem;
    margin: 1rem 0.5rem 0.5rem 1rem;
}
.contact-right{
    width: 60vh;
    margin: 1rem 2rem 0.5rem 10rem;
}
.contact-right iframe{
    margin: 2rem 3rem 0.5rem 3.5rem;
}
/* -- ---------------------------------------------FOOTER------------------------------------------- -- */
.footer{
    background-color: #000;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    height: 53vh;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-call, .footer-mail, .footer-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
} 
.footer-call img, .footer-mail img, .footer-location img{
    margin: 0.5rem;
    width: 1rem;
} 
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0rem 0rem 0rem;
}
.footer-bottom-left{
    width: 33vw;
    margin: 1rem 2rem 1rem 4.5rem;
}
.footer-bottom-left .bold{
    font-weight: 700;
    margin-left: 4rem;
}
.footer-bottom-left ul{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}
.footer-bottom-left ul li{
    list-style-type: none;
    width: 4rem;
    margin: 0rem 2rem;
}
.footer-bottom-left ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
}

.footer-bottom-center{
    width: 33vw;
    margin-left: -12rem;
}
.footer-bottom-center .bold{
    font-weight: 700;
    margin: 0rem 0rem 1rem 9rem;
}
.footer-bottom-center ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 9rem;
}
.img-bg{
    display: flex;
    align-items: center;
    height: 2rem;    
    margin: 0.2rem;
    background-color: #fff;
}
.img-bg img{
    width: 2rem;
}

.footer-bottom-right{
    width: 33vw;
    margin-top: 2rem;
}
.footer-bottom-right .bold{
    font-weight: 700;
}
.footer-bottom-right form input{
    width: 20rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}
.footer-bottom-right form button{
    background-color: #86cff9;
    color: #fff;
    border: none;
    width: 140px;    
    padding: 0.5rem;
    margin: 0rem 0.5rem 0.5rem 0rem;
}
.footer-right-logo img{
    width: 2rem;
    padding: 0.5rem;
    border: 1px solid #86cff9;
    border-radius: 2px;
}
/* -- ---------------------------------------------COPYRIGHT------------------------------------------- -- */
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}